<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<h1>Este es la pagina Nosotros</h1>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

<mat-tab-group>
    <mat-tab label="Contacto"> Puedes contactarnos a este numero 821-102-8403, o poder enviar un correo a carrosagencia@gmail.com</mat-tab>
    <mat-tab label="Direccion"> Estamos ubicados en Monterry, Nuevo Leon, Mexico, proximamente en Estaos Unidos.</mat-tab>
    <mat-tab label="Horario"> Nuestro horario de atencion es de Lunes - Viernes de 8:00am a 9:00pm y los Sabados de 8:30am - 6:30pm y los domingos nos encontramos con el local cerrado. </mat-tab>
  </mat-tab-group>

  <button mat-raised-button
  matTooltip="Info about the action"
  aria-label="Button that displays a tooltip when focused or hovered over">
Buscar
</button>

