<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<h1>Este es el Inicio</h1>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  

<mat-tab-group > 
  <mat-tab  label = "BMW" > <!DOCTYPE html>
    <html>
    <body>
      <img src="assets/LOGOBMW.png" width="300" height="200" style="display: block; margin: 0 auto;">
    </body>
    </html> </mat-tab > 
  <mat-tab  label = "MERCEDES" >  <!DOCTYPE html>
    <html>
    <body>
      <img src="assets/LOGOMERCEDES.png" width="350" height="200" style="display: block; margin: 0 auto;">
    </body>
    </html> </mat-tab > 
  <mat-tab  label = " AUDI" > <!DOCTYPE html>
    <html>
    <body>
      <img src="assets/LOGOAUDI.png" width="400" height="200" style="display: block; margin: 0 auto;">
    </body>
    </html> </mat-tab >   
</mat-tab-group >

<mat-radio-group  aria-label = "Seleccione una opción" > 
    <mat-radio-button  value = "1" > Carros </mat-radio-button > 
    <mat-radio-button  value = "2" > Camionetas </mat-radio-button > 
  </mat-radio-group >

  <mat-list role="list">
    <mat-list-item role="listitem">MODELOS ANTIGUOS</mat-list-item>
    <mat-list-item role="listitem">MODELOS CLASICOS</mat-list-item>
    <mat-list-item role="listitem">MODELOS MODERNOS</mat-list-item>
  </mat-list>

 
  
 






























